sick_lms_291_node:
  ros__parameters:
    port: "{{ port }}"
    frame_id: "lidar_2d_sick_lms_291_link"
    baudrate: {{ baudrate }}
    resolution: {{ resolution }}
    angle_min: {{ angle_min }}
    angle_max: {{ angle_max }}
    min_range: {{ range_min }}
    max_range: {{ range_max }}
    frequency: {{ frequency }}
