<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- http://sdformat.org/spec?ver=1.8&elem=sensor#sensor_lidar -->

  <xacro:macro name="lidar_sick_lms_291_gazebo" params="samples angle_min angle_max frequency range_min range_max">

    <gazebo>

<!--       <physics name="default_physics" type="ode">
        <max_step_size>0.01</max_step_size>
        <real_time_update_rate>100</real_time_update_rate>
      </physics> -->

      <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>
    </gazebo>    

    <gazebo reference="ray_link">
      <sensor name="sick_lms_291" type="gpu_lidar">
        <gz_frame_id>ray_link</gz_frame_id> <!-- Ignore Warnings when executing -->
        <topic>/sick_lms_291/scan</topic>
        <update_rate>${frequency}</update_rate> <!-- Hz -->
        <visualize>true</visualize>
        <lidar>
          <scan>
            <horizontal>
              <samples>${samples}</samples>
              <resolution>1</resolution> <!-- ya no hace falta calcular nada -->
              <min_angle>${angle_min}</min_angle>
              <max_angle>${angle_max}</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>0.1</resolution>
              <min_angle>0.0</min_angle>
              <max_angle>0.0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${range_min}</min> <!-- meters -->
            <max>${range_max}</max> <!-- meters -->
            <resolution>0.01</resolution> <!-- meters -->
          </range>
          <frame_id>/ray_link</frame_id>
        </lidar>
        <alwaysOn>true</alwaysOn> <!-- Ignore Warnings when executing -->
        <visualize>true</visualize> <!-- Ignore Warnings when executing -->
    </sensor>
    </gazebo>

  </xacro:macro>
</robot>